Package: com.jeffresc.shortlook.plugin.contact-photo.youtube
Name: YouTube Video Thumbnails for ShortLook
Depends: mobilesubstrate, co.dynastic.ios.tweak.shortlook
Version: 1.0
Architecture: iphoneos-arm
Description: Show YouTube video thumbnails in ShortLook when you receive a YouTube upload notification!
Maintainer: JeffResc
Author: Jeff Rescignano
Section: Tweaks (ShortLook)
